.carouselContainer {
    max-width: 800px;
    margin: 50px auto;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    margin: 0 auto; /* This allows visibility of the caption */
  }
  
  .carousel-list {
    position: relative;
  }
  
  .carousel-list-item {
    position: absolute;
    transition: 0.5s opacity linear;
    opacity: 0;
    width: 100%;
  }

  .carousel-list-item-img img {
    width: 100%;
  }
  
  .carousel-list-item-caption {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: var(--caption-background-color);
    line-height: 1;
    padding: var(--caption-padding);
    box-sizing: border-box;
    border-radius: var(--caption-border-radius);
    overflow: hidden;
    font-family: helvetica;
    font-size: 16px;
  }

  .isActive {
    opacity: 1;
  }